<main>
    <section class="admin">
        <video loop muted autoplay poster="./img/videoframe.jpg" class="video_sashc0">
            <source src="./videos/giphy.mp4" type="video/webm">
        </video>
        <div class="wrapper">
            <h1>ADMIN PANEL</h1>
            <nav>
                <ul>
                    <li>
                        <a>Add admin</a>
                    </li>
                    <li>
                        <a>Remove admin</a>
                    </li>
                    <li>
                        <a>ADD BLOG ARTICLE
                        </a>
                    </li>
                    <li>
                        <a>ADD PROJECT</a>
                    </li>
                </ul>
            </nav>
            <div class="new_admin">
                <form method="POST">
                    <h3>Add admin</h3>
                    <input type="text" id="add_admin" name="addLogin" placeholder="login">
                    <input type="password" id="add_pass" name="addPassword" placeholder="password">
                    <button class="button-purple">Add</button>
                </form>
            </div>
        </div>
    </section>
</main>