<main>
        <section class="service">
            <div class="wrapper">
                <h1>LOWLARK KNOWS WHAT YOU NEED</h1>
                <div class="box1">
                    <div class="box2">
                        <div class="box3">
                            <a href="/index.php?controller=service&action=mobile">
                                <div class="custom">
                                    <div class="pic">
                                        <img src="img/mobile-recharge.jpg" alt="service">
                                    </div>
                                    <div class="service__title">
                                        <i class="fa fa-caret-left left" aria-hidden="true"></i>
                                        <h3 class="light">Mobile version</h3> 
                                    </div>
                                </div>
                            </a>
                            <a href="/index.php?controller=service&action=landing">
                                <div class="landing">
                                    <div class="service__title">
                                        <i class="fa fa-caret-right right" aria-hidden="true"></i>
                                        <h3 class="light">Landing page</h3>
                                    </div>
                                    <div class="pic"><img src="img/sales-landing-page.jpg" alt="service"></div>
                                </div>
                            </a>  
                        </div>
                        <a href="/index.php?controller=service&action=infoPortal">
                        <div class="info">
                                <div class="pic">
                                    <img src="img/info.jpg" alt="service">
                                </div>
                                <div class="service__title">
                                    <i class="fa fa-caret-up top" aria-hidden="true"></i>
                                    <h3 class="light">Info portal</h3> 
                                </div>
                            </div>
                        </a>
                    </div>
                    <a href="/index.php?controller=service&action=corporative">
                        <div class="corporative">
                            <div class="pic">
                                <img src="img/corp.jpg" alt="service">
                            </div>
                            <div class="service__title">
                                <i class="fa fa-caret-left left" aria-hidden="true"></i>
                                <h3 class="light">Corporative Web site</h3> 
                            </div>  
                        </div>
                    </a>
            </div>
        </section>
    </main>
    <footer>
        <div class="wrapper">
            <object type="image/svg+xml" data="img/logo_ll_darck.svg">
<!--     <img src="SvgImg.png" width="200" height="200" alt="image format png" /> -->
            </object>
            <form method="POST">
                <h4 class="bold">CONTACT US</h4>
                <div class="name-email">
                    <input type="text" id="name" placeholder="Name">
                    <input type="email" id="email" placeholder="E-mail">
                </div>
                <input type="tel" id="phone" placeholder="Phone">
                <textarea name="" id="message" cols="30" rows="10" placeholder="Message"></textarea>
                <button class="button-footer">SUBMIT</button>
            </form>
            <div>
                <a href="/index.php">Privacy Policy</a>
                <a href="../../webroot/index.php?controller=default&action=login">Log In</a>
            </div>
        </div>
    </footer>