<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>LOWLARK</title>
        <link rel="shortcut icon" type="image/png" href="../webroot/img/favicon.png">
        <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Open+Sans:300,700" rel="stylesheet">
        <link rel="stylesheet" href="../webroot/css/style.css">
    </head>
    <body>
        <aside>
            <div id="show"><i class="fa fa-angle-double-right" aria-hidden="true"></i></div>
            <div id="hide"><i class="fa fa-angle-double-left" aria-hidden="true"></i></div>
            <a class="logo" href="../webroot/index.php">
                <object type="image/svg+xml" data="./img/logo-white.svg">
                    <!-- <img src="SvgImg.png" width="200" height="200" alt="image format png" /> -->
                </object>
            </a>
            <ul class="menu">
                <li><a href="../webroot/index.php?controller=admin&action=index">ADMINKA</a></li>
                <li><a href="../webroot/index.php?controller=default&action=service">View feedbacks</a></li>
                <li><a href="../webroot/index.php?controller=default&action=blog">Create new blog article</a></li>
                <li><a href="../webroot/index.php?controller=default&action=latestWorks">Add new project</a></li>
            </ul>
            <div class="contact-us">
                <ul class="social">
                    <li><a href="../webroot/index.php"><i class="fa fa-twitter-square" aria-hidden="true"></i></i></a></li>
                    <li><a href="../webroot/index.php"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                    <li><a href="../webroot/index.php"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                </ul>
                <a href="../webroot/index.php?controller=security&action=logout" class="bold">Log Out</a>
            </div>
        </aside>
        <?=$content?>
        <script src="../webroot/js/aside-portrait.js"></script>
        <script src="https://use.fontawesome.com/f7d3ebf542.js"></script>
        <!--<script type="text/javascript" src="../webroot/js/script.js"></script>-->
    </body>
</html>